<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bare - Start Bootstrap Template</title>
    <script type="text/javascript" src="/eel.js"></script>
    <script src="js/vue.js"></script>
    <!-- Bootstrap CSS from CDN -->
    <link href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="js/popper.min.js" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
   
</head>

<body>
    <!-- Page content-->
    <div class="container">

        <div class="text-center mt-5">
            <div id="app" class="container-fluid">
                <h1>My App</h1>
                <input type="file" id="fileInput">
                <el-button type="primary" plain @click="uploadFile">開始轉檔</el-button>       
                <el-divider></el-divider>
                <form>
                    <label>Name:</label>
                    <input v-model="name">
                    <label>Email:</label>
                    <input v-model="email">
                    <button class="btn btn-primary" type="button" @click="addUser">Add User</button>
                    <!--<button class="btn btn-primary" type="button" @click="downloadFile1">download</button>
                    <button class="btn btn-primary" type="button" @click="downloadFile2">download2</button>-->
                </form> 
                <template>
                    <el-table
                      :data="users"
                      stripe
                      style="width: 100%">
                      <el-table-column
                        prop="id"
                        label="ID"
                        width="180">
                      </el-table-column>
                      <el-table-column
                        prop="name"
                        label="姓名"
                        width="180">
                      </el-table-column>
                      <el-table-column
                        prop="email"
                        label="郵件">
                      </el-table-column>
                    </el-table>
                  </template>                
            </div>

        </div>
    </div>

</body>
<script>
 
    new Vue({
        el: '#app',
        data: {
            name: '',
            email: '',
            users: [],
        },
        mounted() {
            this.getUsers();
        },
        methods: {
            addUser() {
                eel.add_user(this.name, this.email)((result) => {
                    this.getUsers();
                    this.name = '';
                    this.email = '';
                    alert(result);
                });
            },
            getUsers() {
                eel.get_users()((result) => {
                    this.users = result;
                    console.log(this.users)
                });
            },
            downloadFile1() {
                console.log("downloadFile")
                eel.download_file1()((response) => {
                    var file_contents = atob(response.data);
                    // 將base64字串解碼為二進位數組
                    var file_data = new Uint8Array(file_contents.length);   
                    for (var i = 0; i < file_contents.length; i++) {
                        file_data[i] = file_contents.charCodeAt(i);
                    }
                            // 創建Blob對象
                    var blob = new Blob([file_data], { type: response.type });                                     
                    // 創建URL對象並設置<a>元素的href屬性和download屬性
                    var file_url = URL.createObjectURL(blob);
                    const link = document.createElement('a');
                    link.href = file_url;
                    link.setAttribute('download', response.name);
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
            })},
            downloadFile2() {
                console.log("downloadFile")
                eel.download_file2()((response) => {
                    const blob = new Blob([response.data], { type: response.type });
                    const url = window.URL.createObjectURL(blob);
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', response.name);
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                });

            },

            uploadFile() {
                const fileInput = document.getElementById('fileInput');
                const file = fileInput.files[0];
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                    const base64String = reader.result.split(',')[1];
                    console.log(base64String);
                    eel.transferOrder(base64String,file.name)((filename) => {    
                        const url = filename
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download',filename);
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    })
                };
            }

        }
    });
</script>

</html>